<div class="reveal">
	<div class="slides">
		<section id="title">
			<h3>Delightful Testing with Jest</h3>
			<p>Using Facebook's full-featured, developer-centric test framework</p>
			<br /> <a href="https://twitter.com/@jhwohlgemuth">by Jason Wohlgemuth</a>
		</section>
		<section id="whoami" data-markdown data-menu-title="Who am I?" data-transition="convex">
			<script type="text/template">
				`whoami`
				##### Jason Wohlgemuth
				<img src="img/profile.jpg" class="img-circle img-responsive img-center profile" />
				<br /> [
				<i class="fa fa-twitter" aria-hidden="true"></i>/@jhwohlgemuth](https://twitter.com/@jhwohlgemuth)&nbsp;&nbsp;&nbsp;[<i class="fa fa-github" aria-hidden="true"></i>/jhwohlgemuth](https://github.com/jhwohlgemuth)<br />
			</script>
		</section>
		<section id="write-code" data-markdown data-menu-title="What do I do?" data-background-image="img/coding.gif" data-background-size="contain" data-transition="convex" data-markdown>
			#i write code
		</section>
		<section id="before-we-begin" data-menu-title="Before we begin..." data-background-image="img/totally-saving-this.gif" data-background-size="contain"></section>
		<section id="agenda">
			<h2>Agenda</h2>
			<ol>
				<li class="fragment fade-up">Jest...so what? big deal, who cares?</li>
				<li class="fragment fade-up">The Jest API</li>
				<li class="fragment fade-up">Snapshot testing with Jest</li>
				<li class="fragment fade-up">Visual regression testing</li>
			</ol>
		</section>
		<% include what-is-jest %>
		<% include jest-api %>
		<% include snapshot-testing %>
		<% include visual-regression-testing %>
		<section id="references" data-background="img/web-surfing-time.gif" data-background-size="contain">
			<h3>References</h3>
			<div style="padding:20px;background-color:rgba(0,0,0,0.8);border-radius:20px;">
				<ul>
					<li><a href="https://facebook.github.io/jest/">Jest Homepage</a></li>
					<li><a href="https://github.com/jest-community/awesome-jest">awesome-jest list</a></li>
					<li><a href="https://github.com/sapegin/jest-cheat-sheet">Jest cheatsheet</a></li>
					<li><a href="https://github.com/americanexpress/jest-image-snapshot">jest-image-snapshot GitHub page</a></li>
					<li><a href="https://www.linkedin.com/pulse/testing-software-makes-jason-wohlgemuth/">Testing software that makes software</a></li>
					<li><a href="https://github.com/facebook/create-react-app/pull/250#issuecomment-237098619">A Note of Jest (from Facebook)</a></li>
					<li><a href="https://facebook.github.io/jest/blog/2016/07/27/jest-14.html#why-snapshot-testing">Why snapshot testing</a></li>
					<li><a href="https://benmccormick.org/2016/09/19/testing-with-jest-snapshots-first-impressions/">Testing with Jest Snapshots: First Impressions</a></li>
					<li><a href="https://repl.it/">repl.it</a></li>
					<li><a href="https://asciinema.org/">asciinema</a></li>
				</ul>
			</div>
		</section>
	</div>
</div>
