<div class="reveal">
	<div class="slides">
		<section id="title">
			<h3>Delightful Testing with Jest</h3>
			<p>Using Facebook's full-featured, developer-centric test framework</p>
			<br /> <a href="https://twitter.com/@jhwohlgemuth">by Jason Wohlgemuth</a>
		</section>
		<section id="intro" data-markdown data-menu-title="Introduction" data-transition="convex">
			<script type="text/template">
				## Who Am I?
				##### Jason Wohlgemuth
				<img src="img/profile.jpg" class="img-circle img-responsive img-center profile" />
				<br /> [
				<i class="fa fa-twitter" aria-hidden="true"></i>/@jhwohlgemuth](https://twitter.com/@jhwohlgemuth)&nbsp;&nbsp;&nbsp;[<i class="fa fa-github" aria-hidden="true"></i>/jhwohlgemuth](https://github.com/jhwohlgemuth)<br />
			</script>
		</section>
		<section id="agenda">
			<h2>Agenda</h2>
			<ol>
				<li class="fade-up">What is Jest?</li>
				<li class="fade-up">Getting started with Jest</li>
				<li class="fade-up">Snapshot testing with Jest</li>
				<li class="fade-up">The Jest API</li>
				<li class="fade-up">The Jest community</li>
			</ol>
		</section>
		<% include what-is-jest %>
		<% include getting-started %>
		<% include snapshot-testing %>
		<% include jest-api %>
		<% include jest-community %>
		<section id="references" data-background="img/web-surfing-time.gif">
			<h3>References</h3>
			<div style="padding:20px;background-color:rgba(0,0,0,0.8);border-radius:20px;">
				<ul>
					<li><a href=""></a></li>
				</ul>
			</div>
		</section>
	</div>
</div>
