<section>
    <section id="what-is-jest" data-menu-title="What is Jest?" data-background-iframe="https://facebook.github.io/jest/">
        <div class="fragment" style="padding:20px;background-color:rgba(0,0,0,0.8);border-radius:20px;">
            <h1>What is Jest?</h1>
            <p class="fragment">A complete and easy to set-up JavaScript testing solution</p>
            <p class="fragment">You can use it to write and run tests and stuff</p>
        </div>
    </section>
    <section id="complete-question-mark" data-menu-title="Complete solution?" data-markdown>
        ##Complete solution?
    </section>
    <section id="complete-solution-quote-unquote" data-menu-title='"Complete" solution' data-background-image="img/complete-solution.gif"></section>
    <section id="complete-solution" data-menu-title="Complete solution">
        <h3><s>Complete</s> "Batteries Included"</h3>
        <ul>
            <li class="fragment">"Zero" configuration (most of the time)</li>
            <li class="fragment">Built-in code coverage reports (just add <code>--coverage</code>)</li>
            <li class="fragment">Robust <a href="https://jasmine.github.io/">jasmine</a>-like API</li>
            <li class="fragment">Matchers, mocks, spies, stubs, and <b>snapshots</b></li>
            <li class="fragment">Extended with plugins</li>
        </ul>
        <p class="fragment">Review: <a href="https://jhwohlgemuth.github.io/slides-javascript-labyrinths/#/test-tech-stack">The Tribulations of Testing</a></p>
    </section>
    <section id="easy-setup-question-mark" data-menu-title="Easy set-up?" data-markdown>
        ##Easy set-up?
    </section>
    <section id="easy-setup-quote-unquote" data-menu-title='"Easy" to set-up' data-background-image="img/easy-setup.gif"></section>
    <section id="easy-setup-for-real" data-menu-title='Easy to set-up'>
        <h3>Easy as "ABC"</h3>
        <div class="fragment" style="text-align:left">
            <p>A) <a href="https://jhwohlgemuth.github.io/slides-javascript-labyrinths/#/getting-started">Install Jest via npm</a></p>
        </div>
        <div class="fragment" style="text-align:left">
            <p>B) Write tests in <code>__tests__</code> directory</p>
        </div>
        <div class="fragment" style="text-align:left">
            <p>C) Run tests</p>
        </div>
    </section>
    <section id="jest-setup-in-action">
        <h3>Set-up in under a minute</h3>
        <script src="https://asciinema.org/a/c8WQKC0PxzChKKsTp1FrG9WeD.js" id="asciicast-c8WQKC0PxzChKKsTp1FrG9WeD" async data-cols=150 data-rows=30></script>
        <p>Review: <a href="https://jhwohlgemuth.github.io/slides-developing-with-node/">Developing with Node.js</a></p>
    </section>
    <section id="jest-hearts-react">
        <h1>Jest <span style="color:red;">❤</span> React</h1>
    </section>
    <section id="jest-hearts-commonjs">
        <h1>Jest <span style="color:red;">❤</span> CJS</h1>
    </section>
    <section id="facebook-hearts-jest">
        <h1>Facebook <span style="color:red;">❤</span> Jest</h1>
    </section>
</section>
